{{define "base"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{block "title" .}}
        {{end}}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        {{block "css" .}}
        {{end}}
    </head>
    <body>
        {{block "content" .}}
        {{end}}

        {{block "js" .}}
        {{end}}
    </body>
    </html>
{{end}}